h1 {
    Color: rgb(41, 41, 85);
    text-align: center;
}
h2 {
    color: rgb(58, 58, 125);
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0px;
}
section {
    border:1px solid black;
    text-align: center;
    background-color: rgba(58, 58, 125, 0.192);
    margin:5px;
    padding: 20px;
    padding-top:10px;
}
img {
    box-shadow: 5px 5px 5px 0px #888;
}