#headshot {
    height: 160px;
}

body {
    font-family: "Teachers", sans-serif;
    color: rgb(44, 44, 44);
    margin: 0px;
    min-height: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 30px;
    padding-bottom: 15px;
    background-color: #FFCAD4;
}

header span {
    font-weight: bold;
    font-size: 400%;
    padding: 20px;
}

p#message {
    grid-template-rows: 2/3;
    grid-template-columns: 1/2;
    text-align: center;
}


main {
    margin: auto;
    width: 80%;
    margin-bottom: 35px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    background-color: #E8E8E8;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(44, 44, 44);
}

nav a:hover {
    color: white;
}

#picturegrid img{
    width: 400px;
}
#picturegrid img:hover {
    opacity: 60%;
}

#leadership img {
    width:100px;
}

#prospect {
    border-bottom: 1px solid black;
    padding: 20px;
}
#downtown {
    padding-bottom: 20px;
}

#chambergrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
}

#demographics {
    grid-template-columns:1/2;
    grid-template-rows:auto;
}

#leadership {
    grid-template-columns: 1/2;
    grid-template-rows: auto;
}

#attractions {
    grid-template-columns: 1/2;
    grid-template-rows: auto;
}

#events {
    grid-template-columns: 1/2;
    grid-template-rows: auto;
}

#events section{
    border-bottom: 1px solid black;
}

#picturegrid img {
    grid-template-columns: 2/3;
    grid-template-rows: auto;
    padding:20px;
    padding-top:0px;
}

.bold {
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid #808080;
    padding-bottom: 5px;
}

h2 {
    margin: auto;
    text-align: center;
    background-color: #B0D0D3;
    padding: 10px;
}

#information p {
    padding-left: 15px;
    padding-right: 15px;
}

#learningactivities p {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    margin: auto;
    background-color: #FFCAD4;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}