
#headshot {
    height: 160px;
}

body {
    font-family: "Teachers", sans-serif;
    color: rgb(44, 44, 44);
    margin: 0px;
    min-height: 100%;
}

 header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 30px;
    padding-bottom: 15px;
    background-color: #FFCAD4;
} 

header span {
    font-weight: bold;
    font-size: 400%;
    padding: 20px;
}

p#message {
    grid-template-rows: 2/3;
    grid-template-columns: 1/2;
    text-align: center;
}


main {
    margin: auto;
    width: 80%;
    margin-bottom: 35px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    background-color: #E8E8E8;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(44, 44, 44);
}

nav a:hover {
    color: white;
}

#weatherstring {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width:30%;
    margin-bottom:15px;
}

main {
    margin-top:40px;
}

.eventcard {
    padding-bottom:15px;
}
#currentevent3 {
    padding-bottom:28px;
}


.bold {
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid #808080;
    padding-bottom: 5px;
}

h2 {
    margin: auto;
    text-align: center;
    background-color: #B0D0D3;
    padding: 10px;
}


footer {
    margin: auto;
    background-color: #FFCAD4;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}


/* Join form css */
:root {
    --main-pink: #FFCAD4;
    /*var(--main-pink);  */
    --main-blue: #B0D0D3;
    /*var(--main-blue);  */
    --light-blue: #ecf4f5;
    /*var(--light-blue);  */
    --main-white: #FFFFFF;
    /*var(--main-white);  */
    --light-gray: #E8E8E8;
    /*var(--light-gray);  */
    --dark-gray: #808080;
    /*var(--dark-gray);  */
}

#joinh1 {
    width: 85%;
    margin: auto;
    margin-bottom: 22px;
    margin-top: 50px;
    text-align: left;
    font-size:1.4em;
}

form {
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    margin: auto;
    align-items: center;
    background-color: var(--light-blue);
}

input {
    border: var(--dark-gray);
    border-radius: 2px;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 15px;
    padding-left:5px;
}
textarea {
    padding:5px;
}
#firstname {
    margin-bottom:10px;
}
#lastname {
    margin-bottom:18px;
}
#lastnamelabel {
    border-bottom:1px solid var(--dark-gray);
}
#email{ 
   margin-bottom:10px;
}
#emaillabel {
    margin-top:15px;
}
#phonenumber {
    margin-bottom:18px;
}
#phonenumberlabel {
    border-bottom:1px solid var(--dark-gray);
}
#positionlabel {
    margin-top:15px;
}
#position {
    margin-bottom:10px;
}
#description {
    margin-bottom:20px;
}

label {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#submit {
    background-color: var(--main-blue);
    border-radius: 5px;
    color: var(--main-white);
    width: 50%;
    margin-top: 25px;
    height: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding-left:10px;
    padding-right:10px;
}

#membershipsection {
    display:grid;
    grid-template-columns: 1fr 5fr;
    margin-left:0px;
    margin-top: 10px;
}
.membership {
    display:grid;
    grid-column:1/2;
    margin-bottom:5px;
    margin-top:5px;
    height:1.2em;
}
.membershiptitle {
    grid-column:2/3;
    margin:5px 0px;
    font-size:.9em;
}
.membershiplabel {
    font-size:.9em;
    justify-content: center;
}

#submit:hover {
    background-color: var(--main-pink);
    color: black;
}


/* directory css  */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    margin-top:20px;
}
.grid .membercard {
    background-color: var(--light-blue);
    padding: 30px;
    border-radius: 5px;
    padding-top:0px;

}
.grid img {
    width:100%;
    height:150px;
    object-fit:cover;
    margin:auto;
}

.list img {
    height:80px;
    width:90%;
    object-fit:cover;
    text-align:left;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    margin-top:20px
}

.list .membercard:nth-child(2n) {
    background-color: var(--light-blue);
}

.list .membercard {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    grid-gap:15px;
    padding-top:0px;
    padding-bottom:0px;
    align-items: center;
    padding-left:15px;
    padding-right:15px;
}
.list .membercard p {
    margin: 0px;
}

.list .membercard img {
    padding-top:10px;
    padding-bottom:10px;
}


#toggle {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    margin-top:20px;
    text-align: center;
    font-size: 1em;
}

.togglebutton {
    height:40px;
    background-color:rgba(255, 192, 203, 0.395);
    border-radius: 5px;
    border:none;
    padding-left:13px;
    padding-right:13px;
}

.togglebutton:hover {
    background-color: var(--main-pink);
}
.togglebutton:active {
    background-color: var(--main-pink);
}


#maindirectory {
    margin-top: 30px;
}


/* discovery css */

#leadership img {
    width:300px;
}

#picturegrid img {
    width:300px;
    height:320px;
    object-fit: cover;
}

#chambergrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    margin-top:20px;
}
#infocards {
    display: grid;
    grid-column: 1/2;
}

#picturegrid {
    display: grid;
    grid-column: 2/3;
}
#attractions, #leadership {
    margin-bottom:20px;
}
#events section, #attractions section {
    margin-bottom:50px;
}