
#headshot {
    height: 160px;
}

body {
    font-family: "Teachers", sans-serif;
    color: rgb(44, 44, 44);
    margin: 0px;
    min-height: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 30px;
    padding-bottom: 15px;
    background-color: #FFCAD4;
}

header span {
    font-weight: bold;
    font-size: 400%;
    padding: 20px;
}

p#message {
    grid-template-rows: 2/3;
    grid-template-columns: 1/2;
    text-align: center;
}


main {
    margin: auto;
    width: 80%;
    margin-bottom: 35px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    background-color: #E8E8E8;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(44, 44, 44);
}

nav a:hover {
    color: white;
}

#picturegrid img{
    width: 400px;
}
#picturegrid img:hover {
    opacity: 60%;
}

#leadership img {
    width:100px;
}

#prospect {
    border-bottom: 1px solid black;
    padding: 20px;
}
#downtown {
    padding-bottom: 20px;
}

#chambergrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
}

#demographics {
    grid-template-columns:1/2;
    grid-template-rows:auto;
}

#leadership {
    grid-template-columns: 1/2;
    grid-template-rows: auto;
}

#attractions {
    grid-template-columns: 1/2;
    grid-template-rows: auto;
}

#events {
    grid-template-columns: 1/2;
    grid-template-rows: auto;
}

#events section{
    border-bottom: 1px solid black;
}

#picturegrid img {
    grid-template-columns: 2/3;
    grid-template-rows: auto;
    padding:20px;
    padding-top:0px;
}

.bold {
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid #808080;
    padding-bottom: 5px;
}

h2 {
    margin: auto;
    text-align: center;
    background-color: #B0D0D3;
    padding: 10px;
}

#information p {
    padding-left: 15px;
    padding-right: 15px;
}

#learningactivities p {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    margin: auto;
    background-color: #FFCAD4;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}


/* Join form css */
:root {
    --main-pink: #FFCAD4;
    /*var(--main-pink);  */
    --main-blue: #B0D0D3;
    /*var(--main-blue);  */
    --light-blue: #ecf4f5;
    /*var(--light-blue);  */
    --main-white: #FFFFFF;
    /*var(--main-white);  */
    --light-gray: #E8E8E8;
    /*var(--light-gray);  */
    --dark-gray: #808080;
    /*var(--dark-gray);  */
}

#joinh1 {
    width: 85%;
    margin: auto;
    margin-bottom: 22px;
    margin-top: 50px;
    text-align: left;
    font-size:1.4em;
}

form {
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    margin: auto;
    align-items: center;
    background-color: var(--light-blue);
}

input {
    border: var(--dark-gray);
    border-radius: 2px;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 15px;
    padding-left:5px;
}
textarea {
    padding:5px;
}
#firstname {
    margin-bottom:10px;
}
#lastname {
    margin-bottom:18px;
}
#lastnamelabel {
    border-bottom:1px solid var(--dark-gray);
}
#email{ 
   margin-bottom:10px;
}
#emaillabel {
    margin-top:15px;
}
#phonenumber {
    margin-bottom:18px;
}
#phonenumberlabel {
    border-bottom:1px solid var(--dark-gray);
}
#positionlabel {
    margin-top:15px;
}
#position {
    margin-bottom:10px;
}
#description {
    margin-bottom:20px;
}

label {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#submit {
    background-color: var(--main-blue);
    border-radius: 5px;
    color: var(--main-white);
    width: 50%;
    margin-top: 25px;
    height: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding-left:10px;
    padding-right:10px;
}

#membershipsection {
    display:grid;
    grid-template-columns: 1fr 5fr;
    margin-left:0px;
    margin-top: 10px;
}
.membership {
    display:grid;
    grid-column:1/2;
    margin-bottom:5px;
    margin-top:5px;
    height:1.2em;
}
.membershiptitle {
    grid-column:2/3;
    margin:5px 0px;
    font-size:.9em;
}

#submit:hover {
    background-color: var(--main-pink);
    color: black;
}