
@media only screen and (max-width: 500px) {
header{
    display:block;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
p#message{
    display:block;
}

    nav ul {
        display: block;
    }

    nav a {
        text-align: center;
    }

    header span {
        font-size: 220%;
    }

    #headshot {
        height: 120px;
    }
    #chambergrid {
        display:grid;
        grid-template-columns: 1fr;
    }
#directory.grid {
    display: grid;
    grid-template-columns:1fr;
}
form {
    width:80%;
}
    
#picturegrid img {
    width: 80%;
    margin-top:20px;
}
h3 {
    font-size: .8em;
}
#picturegrid img:hover {
    opacity: 100%;
}
.list p {
    font-size: .8em;
}

#forecastSection {
    display:block;
    grid-template-columns: 1fr;
    width:100%;
}
.forecastBlocks {
    margin-bottom:10px;
}
#weatherSection {
    width:85%;
}

}