


:root {
    --main-pink: #FFCAD4; /*var(--main-pink);  */
    --main-blue: #B0D0D3;/*var(--main-blue);  */
    --light-blue:#ecf4f5; /*var(--light-blue);  */
    --main-white: #FFFFFF; /*var(--main-white);  */
    --light-gray:#E8E8E8; /*var(--light-gray);  */
    --dark-gray: #808080; /*var(--dark-gray);  */
}

#headshot {
    height: 160px;
}

body{
    font-family: "Teachers", sans-serif;
    color: rgb(44, 44, 44);
    margin: 0px;
    min-height: 100%;
}

header {
        display: flex;
        align-items: center;
        padding:30px;
        padding-bottom: 15px;
        background-color: var(--main-pink);
    }

    header span {
        font-weight: bold;
        font-size: 400%;
        padding: 20px;
    }

main {
    margin: auto;
    width: 80%;
    margin-bottom: 35px;
}

nav {
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    justify-content: space-around;
    background-color: var(--light-gray);
}
nav li {
    margin: 0 10px;
}
nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(44, 44, 44);
}

nav a:hover {
    color: var(--main-white);
}

#templehero {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
#templehero img {
    height: auto;
    position: center;
}

#herolabel {
    position: absolute;
    top: 285px;
    left: 50px;
    background:rgb(255, 255, 255, .5);
    padding: 1.5rem;
}

.map {
    margin-top:30px;
}

#maincards{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

section#learningactivities.card {
    background-color: var(--light-blue);
    margin: 10px;
}

section#information.card {
    margin: 10px;
    background-color: var(--light-blue);
}
h1{
    border-bottom: 1px solid var(--dark-gray);
    padding-bottom: 5px;
}
h2 {
    margin:auto;
    text-align: center;
    background-color: var(--main-blue);
    padding:10px;
}

#information p{
    padding-left:15px;
    padding-right:15px;
}
#learningactivities p{
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    margin: auto;
    background-color: var(--main-pink);;
    padding: 20px;
    text-align: center;
}
footer p{
    margin: 5px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}


